[Unit]
Description=Ep container
After=network.target

[Service]
WorkingDirectory=/root/ep-build
ExecStart=/usr/local/bin/clj -A:dev -m user
User=root

[Install]
WantedBy=multi-user.target
