[Unit]
Description={{description}}
After=network.target

[Service]
WorkingDirectory={{working-directory}}
ExecStart={{exec-start}}
User=root
{% if environment|not-empty %} Environment={{environment}} {% endif %}

[Install]
WantedBy=multi-user.target
